@media print {
    .pagebreak {
        page-break-before: always!important;
    }

    /* page-break-after works, as well */

    footer,
    .icon,
    .links,
    svg,
    header .avatar {
        display: none !important;
    }

    header {
        margin-left: 20px!important;
        text-align: left !important;
    }

    html,
    section {
        background: #fff !important;
        -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
        print-color-adjust: exact !important;
        backdrop-filter: none!important;
    }

    h2 {
        margin-top: 0!important;
        text-align: left!important;
    }

    body {
        margin: 0 !important;
        padding: 0 !important;
        background: #fff !important;
    }

    .table_experience,
    .table_experience .description {
        margin-bottom: 0!important;
    }

    .experience,
    .skills,
    .education,
    .projects,
    .hobbies {
        padding-bottom: 0!important;
        box-shadow: none!important;
    }

    #software {
        padding-bottom: 0!important;
    }

    p.contact span {
        display: none !important;
    }

    .table_projects {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
        border-spacing: 10px!important;
        text-align: left!important;
    }

    .table_skills {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
        text-align: left!important;
    }

    .table_skills td:nth-child(1) {
        text-align: left!important;
    }

    .table_formations {
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
        text-align: left!important;
    }

    .hobbies p {
        text-align: left!important;
    }
}

@media only screen and (max-width:768px) {
    body {
        width: 100%!important;
    }

    h1,
    h5,
    h6 {
        text-align: center;
    }

    .education .year-box {
        margin-left: 10px;
        font-size: 0.8rem!important;
    }

    .education .info p.job {
        margin-bottom: 10px!important;
        font-size: 0.8rem!important;
    }

    .info p.school {
        font-size: 0.8rem!important;
    }

    .experience,
    .skills,
    .education,
    .projects,
    .hobbies {
        position: relative;
        margin-right: 7px;
        margin-left: 7px;
        border: solid 0.1em;
        border-color: rgb(207,208,212);
        box-shadow: none!important;
    }

    #software li {
        grid-template-rows: .3fr .2fr!important;
        grid-template-columns: .4fr .5fr!important;
        font-size: 12px!important;
    }

    .table_skills span {
        margin-left: 5px!important;
        padding: 0!important;
        background-color: transparent!important;
    }

    .table_skills,
    .table_formations,
    .table_experience,
    .table_projects {
        width: 100%!important;
        margin-right: 0!important;
        margin-left: 0!important;
    }
}

html {
    background: #f4f5f8;
}

section {
    background: rgba(255, 255, 255, 0.784);
    box-shadow: 0.3px 0.9px rgba(0, 0, 0, 0.12) ,0 1.6px 3.6px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Contenu */

h1,
h2,
h3,
p,
li,
.table_skills span {
    color: rgb(80,84,89);
}

.yearColumn {
    font-weight: 800;
    color: rgb(81,84,89);
}

/* Couleur secondaire */

p.contact,
p.tools,
.projects li.tools,
.table_projects td,
a:hover,
a,
.infoBlock p.diploma,
#software li,
.table_experience .infoBlock p.company,
.table_skills td:nth-child(1) {
    color: rgb(96,165,171);
}

/* Style global pour le corps de la page */

body {
    width: 200mm;
    margin: 40px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto',sans-serif;
    page-break-after: auto;
}

/* section */

section {
    position: relative;
    padding: 20px;
    border-radius: 8px;
}

/* la zone d'en-tête globale */

header {
    position: relative;
    margin-bottom: 10px;
    text-align: center;
}

/* la zone d'en-tête, spécifiquement pour l'avatar */

header .avatar {
    position: relative;
    width: 120px;
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 50%;
    text-align: center;
}

/* l'image à l'intérieur de l'avatar */

header .avatar img {
    position: relative;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border: solid;
    border-color: #333;
    border-radius: 50%;
    text-align: center;
}

/* titre principal */

h1 {
    margin: 0;
    margin-bottom: 1px;
    font-size: 3rem;
    line-height: 1;
}

/* sous-titre */

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

/* contact */

p.contact {
    font-weight: 600;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

/* liens externes */

.links {
    margin-top: 25px;
    margin-left: 0;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: center;
}

.links a {
    margin-right: 5px;
    margin-left: 0;
    padding: 5px;
    border: solid 0.1em transparent !important;
    border-radius: 5px;
    color: white;
    background-color: rgb(76,83,96);
}

.links a:hover {
    color: white;
    background: #049ea3;
    transition: all 1s;
}

/* titre des catégories */

h2 {
    margin-bottom: 30px;
    margin-left: 10px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
}

/* les paragraphes génériques */

p {
    margin: 0;
}

/* un paragraphe spécifique (tools) */

p.tools {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 0.8rem;
}

/* section spécifique (experience, skills, education, etc.) */

.experience,
.skills,
.education,
.projects,
.hobbies {
    margin-top: 20px;
    margin-bottom: 0;
    margin-bottom: 30px;
}

/*  experience professionelle */

.experience li {
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.table_experience {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table_experience .tableRow {
    text-align: left;
}

.table_experience .description {
    margin-top: 10px;
    margin-left: 10px;
}

.table_experience ul {
    margin: 0;
}

.table_experience .infoBlock p.company {
    margin-left: 10px;
    font-weight: 600;
}

.table_experience .infoBlock p.job {
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: 600;
}

.table_experience .infoBlock p.location {
    margin-left: 10px;
}

/* liste sans puces */

ul {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;
}

/* les éléments de liste */

li {
    margin-bottom: 2px;
    font-size: 1rem;
}

/* projets */

.table_projects {
    width: 80%;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 10%;
    border-spacing: 10px;
    text-align: center;
}

.table_projects td {
    font-size: .9rem;
    font-weight: 700;
}

.table_projects span {
    font-size: .8rem;
    color: rgb(130,133,137);
}

.table_projects a:visited {
    text-decoration:none;
    color: #049ea3;
}

/* compétences */

.table_skills {
    width: 80%;
    margin-right: 15%;
    margin-bottom: 20px;
    margin-left: 15%;
    border-spacing: 10px;
}

.table_skills td:nth-child(1) {
    text-align: right;
    font-size: .9rem;
    font-weight: 600;
    vertical-align: middle;
}

.table_skills td:nth-child(2) {
    font-size: .9rem;
    font-weight: 600;
    vertical-align: middle;
}

.table_skills span {
    margin-left: 3px;
    color: rgb(130,133,137);
}

/* formations et diplomes */

.education p {
    margin-bottom: 10px;
    margin-left: 10px;
}

.table_formations {
    width: 100%;
    width: 60%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-left: 20%;
    border-collapse: collapse;
}

.table_formations {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

p.languages {
    font-size: small;
}

.tableRow {
    text-align: center;
}

.yearColumn {
    width: 54px;
    text-align: center;
    font-size: .9rem;
    vertical-align: middle;
}

td {
    vertical-align: baseline;
}

.infoBlock {
    text-align: left;
    font-size: .9rem;
    vertical-align: middle;
}

.infoBlock p {
    padding-bottom: 0;
}

.infoBlock p.diploma {
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

/* hobbies */

.hobbies p {
    margin-bottom: 25px;
    margin-left: 10px;
    text-align: center;
    font-size: .9rem;
}

footer {
    height: 100px;
}

/* Background annimation */

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px;
}

.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
}

.out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px;
}

.in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px;
}
